.sidebar {
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-shrink: 0;
  width: 83px;
  transition: width 0.3s cubic-bezier(0.4,0,0.2,1);
  border-right: 1px solid var(--color-border);

  &.open {
    width: 300px;

    a, button {
      width: calc(100% - 48px);
      justify-content: flex-start;

      &.active::after { transform: scaleX(1); }

      span {
        transform: translateY(-50%) translateX(0);
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
      }
    }
  }

  .nav { width: 100%; }

  .navList {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .navItem { width: 100%; }

  a, button {
    gap: .5rem;
    box-sizing: content-box;
    padding: 1rem 1.5rem;
    height: 35px;
    width: calc(100% - 48px);
    display: flex;
    align-items: center;
    white-space: nowrap;
    position: relative;
    transition: .3s all cubic-bezier(0.4,0,0.2,1);
    color: var(--color-text);
    z-index: 0;

    &::after {
      content: "";
      position: absolute;
      top: 0; 
			bottom: 0; 
      right: 0;
			margin: auto;
      height: 40px;
      width: 3px;
      border-radius: 5px;
      background-color: var(--color-primary);
      transition: all 0.3s cubic-bezier(0.4,0,0.2,1);
      height: 0px;
    }
    &.active::after { height: 40px; }

    &.active {
      color: var(--color-primary);
    }

    & svg {
      display: block;
      width: 32px;
      height: 32px;
      flex-shrink: 0;
			stroke-width: 1.8;
    }

    span {
      position: absolute;
      left: 75px;
      top: 50%;
      transform: translateY(-50%) translateX(-5px);
      opacity: 0;
      visibility: hidden;
      transition: all 0.2s ease-in-out;
      width: max-content;
      pointer-events: none;
      font-weight: 600;
			font-size: 18px;
    }
  }

  & a::before,
  & button::before {
    content: '';
    position: absolute;
    top: 0; bottom: 0; margin: auto;
    z-index: -1;
    border-radius: 10px;
    opacity: 0;
    visibility: hidden;
    background-color: var(--color-transparent-background-light);
    transition: width .2s ease, opacity .2s ease, visibility .2s ease;
  }

  & a:hover::before,
  & button:hover::before {
    opacity: 1;
    visibility: visible;
  }

  &:not(.open) a::before,
  &:not(.open) button::before {
    width: 50px;
    height: 50px;
    left: 14px;
  }

  &.open a::before,
  &.open button::before {
    height: 50px;
    left: 14px;
    width: calc(100% - 28px);
  }
}
